<html class="bg-home">
<head>
    
    <title>Pokemon|Pokedex</title>
</head>
<body>
    @*Nav comes from _layout.cshtml*@
    <section class="home">
        <div class="content">
            <div class="header">
                <h1>Pokemon Pokedex</h1>
            </div>
            <div class="sub-header">
                <h2>Keep track of your pokemon by using our pokedex look up gallary.</h2>
                 </div>
            <div class="poke-link">
                <a href="~/Pokedex/Pokedex">See More <i class="arrow right"></i></a>
                
            </div>
        </div>
    </section>

</body>
</html>