<html class="bg-home">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img\pball.png" type="image/x-icon">
    <meta name="author" content="Georgina Bailey">
    <link href="style.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <title>Pokemon|Pokedex</title>
</head>
<body>
    <section class="navigation">
        <ul class="nav">
            <li class="navItem" id="logo">
                <a href="~/Pokedex">
                    <img src="~/img/pokemon-logo.png" alt="logo">
                </a>
            </li>
            <li class="navItem"><a href="~/Pokedex">Home</a></li>
            <li class="navItem"><a href="~/Pokedex/Pokedex">Pokedex</a></li>            
            <li class="icon">
                <a href="javascript:void(0);" style="font-size:40px;" onclick="myFunction()">☰</a>
            </li>
        </ul>
    </section>
    <section class="home">
        <div class="content">
            <div class="header">
                <h1>Pokemon Pokedex</h1>
            </div>
            <div class="poke-link">
                <a href="~/Pokedex/Pokedex">See More <i class="arrow right"></i></a>
            </div>
        </div>
    </section>

</body>
</html>