<html class="bg-home">
<head>
    
    <title>Pokemon|Pokedex</title>
</head>
<body>
    @*Nav comes from _layout.cshtml*@
    @*<section class="navigation">
        <ul class="nav">
            <li class="navItem" id="logo">
                <a href="~/Pokedex">
                    <img src="~/img/pokemon-logo.png" alt="logo">
                </a>
            </li>
            <li class="navItem"><a href="~/Pokedex">Home</a></li>
            <li class="navItem"><a href="~/Pokedex/Pokedex">Pokedex</a></li>            
            <li class="icon">
                <a href="javascript:void(0);" style="font-size:40px;" onclick="myFunction()">☰</a>
            </li>
        </ul>
    </section>*@
    <section class="home">
        <div class="content">
            <div class="header">
                <h1>Pokemon Pokedex</h1>
            </div>
            <div class="sub-header">
                <h2>Keep track of your Pokemon by using our Pokedex look up gallery.</h2>
                 </div>
            <div class="poke-link">
                <a href="~/Pokedex/Pokedex">See More <i class="arrow right"></i></a>
                
            </div>
        </div>
    </section>

</body>
</html>