<html class="bg-other" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Georgina Bailey">
    <link rel="icon" href="~\img\pball.png" type="image/x-icon">
    <link href="style.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <title>Pokemon|Pokedex</title>
</head>
<body>
    <section class="navigation">
        <ul class="nav">
            <li class="navItem" id="logo">
                <a href="~/Pokedex">
                    <img src="~/img/pokemon-logo.png" alt="logo">
                </a>
            </li>
            <li class="navItem"><a href="~/Pokedex">Home</a></li>
            <li class="navItem"><a href="~/Pokedex/Pokedex">Pokedex</a></li>
            <li class="navItem"><a href="~/Pokedex/info">Info</a></li>
            <li class="icon">
                <a href="javascript:void(0);" style="font-size:40px;" onclick="myFunction()">☰</a>
            </li>
        </ul>
    </section>

    <section class="info-main">
        <div class="content">
            <div class="current-pokemon">
                <div id="poke1">
                    <div class="content">
                        <img src="~/img/002.png">
                        <p>#002</p>
                    </div>
                </div>
                <div id="poke2">
                    <div class="content">
                        <img src="~/img/004.png">
                        <p>#004</p>
                    </div>
                </div>
                <h1>PokemonName</h1>
                <p>pokemonNumber</p>
                <img src="~/img/003.png">

            </div>

        </div>
    </section>


    <section class="info-middle">
        <div class="Description">
            <h2>Description</h2>
            <p>
                Bulbasaur can be seen napping in bright sunlight.
                There is a seed on its back. By soaking up the sun's rays,
                the seed grows progressively larger.
            </p>
        </div>
        <div class="type">
            <h2>Type</h2>
            <p class="cFire">Fire</p>
            <p class="cPsyc">Psychic</p>
        </div>
        <div class="poke-info-1">
            <div class="height">
                <h2>Height</h2>
                <p>2'04</p>
            </div>
            <div class="weight">
                <h2>Weight</h2>
                <p>15.21lbs</p>
            </div>
        </div>
        <div class="poke-info-2">
            <div class="abilities">
                <h2>Abilities</h2>
                <p>Overgrow</p>
            </div>
            <div class="gender">
                <h2>Gender</h2>
                <p>Male/Female</p>
            </div>
        </div>
    </section>


    <section class="evolution">
        <h1>Evolutions</h1>
        <div class="three-evo">
            <!-- left evo -->
            <div id="evo">
                <div class="content-evo">
                    <img src="~/img/001.png">
                    <p><h1>Bulbasaur</h1>#001</p>
                    <div class="type">
                        <p class="cG">Grass</p>
                        <p class="cP">Poison</p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>

            <!-- Middle evo -->
            <div id="evo">
                <div class="content-evo">
                    <img src="~/img/002.png">
                    <p><h1>Ivysaur</h1>#002</p>
                    <div class="type">
                        <p class="cB">Bug</p>
                        <p class="cGhost">Ghost</p>
                    </div>
                </div>
            </div>

            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>

            <!-- Right evo -->
            <div id="evo">
                <div class="content-evo">
                    <img src="~/img/003.png">
                    <p><h1>Venusaur</h1>#003</p>
                    <div class="type">
                        <p class="cFight">Fighting</p>
                        <p class="cFly">Flying</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="two-evo">
            <!-- left evo -->
            <div id="evo">
                <div class="content-evo">
                    <img src="~/img/001.png">
                    <p><h1>Bulbasaur</h1>#001</p>
                    <div class="type">
                        <p class="cG">Grass</p>
                        <p class="cP">Poison</p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>
            <!-- Right evo -->
            <div id="evo">
                <div class="content-evo">
                    <img src="~/img/003.png">
                    <p><h1>Venusaur</h1>#003</p>
                    <div class="type">
                        <p class="cG">Grass</p>
                        <p class="cP">Poison</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <p class="copy">© 2017 Pokémon. © 1995–2017 Nintendo/Creatures Inc./GAME FREAK inc. Pokémon, Pokémon character names, Nintendo 3DS, Nintendo DS, Wii, Wii U, and Wiiware are trademarks of Nintendo. The YouTube logo is a trademark of Google Inc. Other trademarks are the property of their respective owners.</p>
        <p>Software Engineering Project - Adrien Rawsthorne, Georgina Bailey, Louis Callaway and Pat Hanscombe </p>
    </footer>
</body>
</html>