<html class="bg-other" lang="en">
<head>
       
    <title>Pokemon|Pokedex</title>
</head>
<body>
    @*Nav comes from _layout.cshtml*@

    <section class="search">
        <div class="content">
            <div class="search-bar">
                <form id="search">
                    <input type="search" placeholder="Search">
                </form>

            </div>
        </div>
    </section>
    <section class="pokedex-grid">
        <div class="content">
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/001.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/003.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/002.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/001.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/002.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/003.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/001.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/002.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p class="copy">© 2017 Pokémon. © 1995–2017 Nintendo/Creatures Inc./GAME FREAK inc. Pokémon, Pokémon character names, Nintendo 3DS, Nintendo DS, Wii, Wii U, and Wiiware are trademarks of Nintendo. The YouTube logo is a trademark of Google Inc. Other trademarks are the property of their respective owners.</p>
        <p>Software Engineering Project - Adrien Rawsthorne, Georgina Bailey, Louis Callaway and Pat Hanscombe </p>
    </footer>
</body>
</html>