<html class="bg-other" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Georgina Bailey">
    <link rel="icon" href="img\pball.png" type="image/x-icon">
    <link href="style.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <title>Pokemon|Pokedex</title>
</head>
<body>
    <section class="navigation">
        <ul class="nav">
            <li class="navItem" id="logo">
                <a href="~/Pokedex">
                    <img src="~/img/pokemon-logo.png" alt="logo">
                </a>
            </li>
            <li class="navItem"><a href="~/Pokedex">Home</a></li>
            <li class="navItem"><a href="~/Pokedex/Pokedex">Pokedex</a></li>
            <li class="navItem"><a href="~/Pokedex/info">Info</a></li>
            <li class="icon">
                <a href="javascript:void(0);" style="font-size:40px;" onclick="myFunction()">☰</a>
            </li>
        </ul>
    </section>
    <section class="search">
        <div class="content">
            <div class="search-bar">
                <form id="search">
                    <input type="search" placeholder="Search">
                </form>

            </div>
        </div>
    </section>
    <section class="pokedex-grid">
        <div class="content">
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/001.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/003.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/002.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/001.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/002.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/003.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/001.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/002.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="~/Pokedex/info">
                        <div class="box">
                            <img src="~/img/004.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p class="copy">© 2017 Pokémon. © 1995–2017 Nintendo/Creatures Inc./GAME FREAK inc. Pokémon, Pokémon character names, Nintendo 3DS, Nintendo DS, Wii, Wii U, and Wiiware are trademarks of Nintendo. The YouTube logo is a trademark of Google Inc. Other trademarks are the property of their respective owners.</p>
        <p>Software Engineering Project - Adrien Rawsthorne, Georgina Bailey, Louis Callaway and Pat Hanscombe </p>
    </footer>
</body>
</html>